<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>

      
      <key>standDown1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{32,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,64}}</string>
        <key>sourceSize</key>
        <string>{32,64}</string>
      </dict>
      <key>standDown2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{32,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,64}}</string>
        <key>sourceSize</key>
        <string>{32,64}</string>
      </dict>


      <key>standUp1.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,64},{32,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,64}}</string>
        <key>sourceSize</key>
        <string>{32,64}</string>
      </dict>
      <key>standUp2.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,64},{32,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,64}}</string>
        <key>sourceSize</key>
        <string>{32,64}</string>
      </dict>



      <key>standLeft1.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,0},{32,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,64}}</string>
        <key>sourceSize</key>
        <string>{32,64}</string>
      </dict>
      <key>standLeft2.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,0},{32,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,64}}</string>
        <key>sourceSize</key>
        <string>{32,64}</string>
      </dict>

      <key>standRight1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,64},{32,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,64}}</string>
        <key>sourceSize</key>
        <string>{32,64}</string>
      </dict>
      <key>standRight2.png</key>
      <dict>
        <key>frame</key>
        <string>{{32,64},{32,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,64}}</string>
        <key>sourceSize</key>
        <string>{32,64}</string>
      </dict>
      
      <key>down1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{32,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,64}}</string>
        <key>sourceSize</key>
        <string>{32,64}</string>
      </dict>
      <key>down2.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,0},{32,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,64}}</string>
        <key>sourceSize</key>
        <string>{32,64}</string>
      </dict>
      <key>down3.png</key>
      <dict>
        <key>frame</key>
        <string>{{32,0},{32,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,64}}</string>
        <key>sourceSize</key>
        <string>{32,64}</string>
      </dict>
      <key>down4.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,0},{32,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,64}}</string>
        <key>sourceSize</key>
        <string>{32,64}</string>
      </dict>

      <key>up1.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,64},{32,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,64}}</string>
        <key>sourceSize</key>
        <string>{32,64}</string>
      </dict>
      <key>up2.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,64},{32,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,64}}</string>
        <key>sourceSize</key>
        <string>{32,64}</string>
      </dict>
      <key>up3.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,64},{32,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,64}}</string>
        <key>sourceSize</key>
        <string>{32,64}</string>
      </dict>
      <key>up4.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,64},{32,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,64}}</string>
        <key>sourceSize</key>
        <string>{32,64}</string>
      </dict>

      <key>left1.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,0},{32,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,64}}</string>
        <key>sourceSize</key>
        <string>{32,64}</string>
      </dict>
      <key>left2.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,0},{32,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,64}}</string>
        <key>sourceSize</key>
        <string>{32,64}</string>
      </dict>
      <key>left3.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,0},{32,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,64}}</string>
        <key>sourceSize</key>
        <string>{32,64}</string>
      </dict>
      <key>left4.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,0},{32,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,64}}</string>
        <key>sourceSize</key>
        <string>{32,64}</string>
      </dict>

      <key>right1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,64},{32,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,64}}</string>
        <key>sourceSize</key>
        <string>{32,64}</string>
      </dict>
      <key>right2.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,64},{32,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,64}}</string>
        <key>sourceSize</key>
        <string>{32,64}</string>
      </dict>
      <key>right3.png</key>
      <dict>
        <key>frame</key>
        <string>{{32,64},{32,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,64}}</string>
        <key>sourceSize</key>
        <string>{32,64}</string>
      </dict>
      <key>right4.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,64},{32,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,64}}</string>
        <key>sourceSize</key>
        <string>{32,64}</string>
      </dict>
      
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>heroSprite.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:873706d2c1ad9f5b33d90eefda3a7084$</string>
      <key>textureFileName</key>
      <string>heroSprite.png</string>
    </dict>
  </dict>
</plist>